@model FreelancerPlatform.Models.Project

@{
    ViewData["Title"] = "Board";
    Layout = "_ULayout";
}

<img src="~/images/gestionProjet.png" />

<table class="table table-borderless">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td> @Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CreatedDate)</td>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Freelancer)</td>
            <td>@Html.DisplayFor(model => model.Freelancer.Email)</td>
        </tr>
            <td>@Html.DisplayNameFor(model => model.Category)</td>
            <td>@Html.DisplayFor(model => model.Category.Name)</td>
        </tr>
    </tbody>
</table>

<form id="task-form">
    <ul>
        @foreach (var task in Model.Tasks)
        {
            <li>
                @Html.DisplayFor(tTitle => task.Title)
                <input type="checkbox" name="isCompleted" value="@task.Id" onchange="completeTask(this)" @(task.Completed ? "checked" : "") />
            </li>
        }
    </ul>
</form>

<script>
    function completeTask(elem) {
        var taskId = elem.value;
        var isCompleted = elem.checked;
        // alert("taskId: "+taskId+", completed: "+isCompleted);
        $.ajax({
            url: '/Projects/CompleteTask',
            type: 'POST',
            data: { taskId: taskId, isCompleted: isCompleted },
            success: function (data) {
                if (data.success) {
                    console.log('Task updated successfully');
                } else {
                    console.log('Error updating task');
                }
            }
        });
    }
</script>