@model FreelancerPlatform.Models.Project

@{
    ViewData["Title"] = "Details";
     Layout = "_ALayout";
}



<div id="section1">

 <table class="table table-borderless">
  <thead>
  
  </thead>
  <tbody>
    <tr>
  
      <td>@Html.DisplayNameFor(model => model.Title)</td>
      <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
      <td>@Html.DisplayNameFor(model => model.Description)</td>
      <td> @Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
      <td>@Html.DisplayNameFor(model => model.CreatedDate)</td>
      <td>@Html.DisplayFor(model => model.CreatedDate)</td>
    </tr>
      <td>@Html.DisplayNameFor(model => model.Freelancer)</td>
      <td>@Html.DisplayFor(model => model.Freelancer.Email)</td>
    </tr>
      <td>@Html.DisplayNameFor(model => model.Category)</td>
      <td>@Html.DisplayFor(model => model.Category.Name)</td>
    </tr>
   </tbody>
   </table>


    

    <h4>List of tasks:</h4>
    <ul>
        @foreach (FreelancerPlatform.Models.Task t in Model.Tasks)
        {
            <li>@Html.DisplayFor(tTitle => t.Title)</li>
            <input type="checkbox" @(t.Completed ? "checked" : "") disabled />
        }
    </ul>
</div>
<div id="section2">
    
    <h4>Comments:</h4>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <b>Comment:</b> @comment.Text <br />
            </li>
        }
    </ul>

    <form asp-controller="Projects" asp-action="CreateComment" method="post">
        <input type="hidden" name="ProjectId" value="@Model.Id" />
        <div class="form-group">
            <label for="Text">Add a Comment </label>
            <textarea name="Text" class="form-control"></textarea>
        </div><br/>
        <input type="submit" value="Post comment" class="link2" />
    </form>
</div>

<br/>
<br/>

    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
 



   
