@model IEnumerable<FreelancerPlatform.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "_ALayout";
}



<p>
    <a asp-action="Create">Create New</a>



    <a asp-area="" asp-controller="Projects"
       asp-action="Search" class="link">Search</a>



</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freelancer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Action</th>
      
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freelancer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen" style="color:blue"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye" style="color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
