@model IEnumerable<FreelancerPlatform.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_ALayout";
}



<p>
    <a asp-action="Create">Create New</a>

    <a asp-area="" asp-controller="Users"
       asp-action="Search" class="link">Search</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen" style="color:blue"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye" style="color:green"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color:red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
